<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Moonbeam</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      You're using Moonbeam, a microblogging social media platform created by Shovon Hasan.
      The <a href=https://bitbucket.org/shovonhasan/moonbeam>repo and commit history</a>
       are publicly available.
    </p>
      
      <h4>Technologies used:</h4>
      <ul>
        <li>Framework - Ruby on Rails</li>
        <li>Database - PostgreSQL</li>
        <li>Cloud storage - AWS S3</li>
        <li>Deployment - Heroku</li>
        <li>Encryption - bcrypt</li>
      </ul>
    
  </body>
</html>