<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      This is the guild webpage for &#60;You Dont Know&#62; on Thrall-US, Horde side.
    </p>
      
      <h4>Technologies used:</h4>
      <ul>
        <li>Framework - Ruby on Rails</li>
        <li>Database - PostgreSQL</li>
        <li>Cloud storage - AWS S3</li>
        <li>Deployment - Heroku</li>
        <li>Encryption - bcrypt</li>
      </ul>
