<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Questions? Concerns? 
  <a href="mailto:im.shovonhasan@gmail.com">Shoot me an email</a> or drop a comment at 
  <a href="http://shovonhasan.com">my website</a>.
</p>