<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  You're using <%= link_to "Moonbeam", root_path %> by Shovon Hasan. 
  If you're here just to look around feel free to log in using the email "just@looking.com" and password: "foobar".
</p>