<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
  </aside>
  <div class="col-md-8">
    <h3>Your submitted Applications</h3> 
    <% if @trialapps.any? %>
      <ol class="trialapps">
        <%= render @trialapps %>
      </ol>
    <% else %>
      You've submitted no applications. <%= link_to "Apply now", apply_path %> to get started!
    <% end %>
  </div>
</div>