<header id="header">
  <div class="content">
    <div id="logo">
      You Dont Know
    </div>
    <nav id="nav">
    </nav>
  </div>
</header>

<div id="slide1">
  <div class="content">
    <h2>Competitive raiding in a casual environment.</h2>
  </div>
</div>

<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">You Dont Know is commited to help you play, progress, and gear up. 
      We accept serious raiders that want to push to be the best or friendly folks 
      that want to join just to add to our community. 
      Whatever you're looking for, you'll find it here.</h3>
      <%#= image_tag("illidan.jpg", align: "left") %>
      <h4 class="name-dark">-- Skythan</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Efficiency is our game. We raid just 3 hours a night 
      and what you see is what you get. No extra nights, no extra hours. 
      We value our time and make the most of it.</h3>
      <%#= image_tag("illidan.jpg", align: "left") %>
      <h4 class="name">-- Rubbermould</h4>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Looking for 5 man content? Every raider that wants their +12 for the week gets one.</h3>
      <%#= image_tag("illidan.jpg", align: "left") %>
      <h4 class="name-dark">-- Beefsbear</h4>
    </div>
  </div>
</div>