

<section class="jumbotron">
  <div class="container">
    <h1 class="website-title">You Don't Know</h1>
    <h2 class="website-slogan">Competitive Raiding. Casual Atmosphere.</h2>
    <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <% if logged_in_raider? %>
          <%= link_to "Review Applications", applications_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <%= link_to "Begin Application", apply_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Learn More", info_path, class: "btn btn-lg btn-success" %>
        <% end %>
        </div>
      </div>
  </div>
</section>


<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">You Dont Know is commited to help you play, progress, and gear up. 
      We accept serious raiders that want to push to be the best or friendly folks 
      that want to join just to add to our community. 
      Whatever you're looking for, you'll find it here.</h3>
      <h4 class="name-dark">-- Skythan, Guild Master</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Efficiency is our game. We raid just 3 hours a night 
      and what you see is what you get. No extra nights, no extra hours. 
      We value our time and make the most of it.</h3>
      <h4 class="name">-- Rubbermould, Officer</h4>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Looking for 5 man content? Every raider that wants their +12 for the week gets one.</h3>
      <%#= image_tag("illidan.jpg", align: "left") %>
      <h4 class="name-dark">-- Beefsbear, Officer</h4>
    </div>
  </div>
</div>