<div class="center jumbotron">
  <h1>You Dont Know</h1>

  <h2>
    We're a 7/7M guild on Thrall-US, Horde side.
  </h2>
  <%= link_to "Begin New Application",   apply_path, class: "btn btn-lg btn-primary" %>
</div>