<div class="center jumbotron">
  <h1>Welcome to Moonbeam</h1>

  <h2>
    Moonbeam is the newest short-form social networking platform. Make your own beams and follow others.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>