<footer class="footer">
  <small>
    <%= link_to "You Dont Know", root_path %>, a Horde guild on Thrall-US
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
    </ul>
  </nav>
</footer>
